.header__logo {
  min-width: 142px;
  min-height: 33px;
  background-image: url('../../../images/logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .header__logo {
    min-width: 103.74px;
    min-height: 24.4px;
    margin-left: 27px;
  }
}
