.sign__button {
  width: 100%;
  min-height: 50px;
  margin: calc(216px - (57px - 43px)) 0 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22 / 18);
  cursor: pointer;
  transition: opacity .1s ease-out;
}

.sign__button:hover {
  opacity: .85;
}

.sign__button:disabled {
  opacity: .2;
  cursor: auto;
}

@media (max-width: 800px) {
  .sign__button {
    min-height: 46px;
    margin: calc(173px - (57px - 43px)) 0 0;
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}
