.card__like-button {
  grid-area: like-button;
  min-width: 22px;
  min-height: 19px;
  padding: 0;
  background-image: url('../../../images/like.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .1s ease-out;
}

.card__like-button:hover {
  opacity: .5;
}

.card__like-button:active {
  background-image: url('../../../images/like-active.svg');
  opacity: 1;
}
