.footer {
  grid-area: footer;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media (max-width: 800px) {
  .footer {
    margin: 0 19px;
    font-size: 14px;
  }
}
