.profile__add-button {
  max-width: 300px;
  min-width: 150px;
  min-height: 50px;
  margin-left: auto;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url('../../../images/add-button.svg');
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media (max-width: 800px) {
  .profile__add-button {
    width: 100%;
    margin: 5px 0 0;
    background-size: 16px 16px;
  }
}
