.content {
  grid-area: content;
  width: 100%;
  padding: 40px 0 67px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-areas:
  'profile'
  'galery';
  justify-items: center;
}

@media (max-width: 800px) {
  .content {
    padding: 42px 19px 48px;
  }
}
