.popup {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(19px, 1fr) auto minmax(19px, 1fr);
  grid-template-rows: repeat(2,  min-content);
  gap: 8px;
  grid-template-areas:
  '. . button'
  '. container .';
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s linear, opacity .4s linear;
}

@media (max-width: 800px) {
  .popup {
    grid-template-areas:
    '. button .'
    '. container .';
    row-gap: 16px;
    column-gap: 0;
  }
}
